//  alterations to WordPress core 


html.has-modal-open {
    overflow: auto;
}



// neutralize the wp default for 600px 
@media (min-width: calc(600rem / 16)) {

    .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: flex;
    }

    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: none;
    }

}


// copy of wp default css to a 1000px media query 
@media (min-width: calc(1000rem / 16)) {

    .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: none !important;
    }

    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: block !important;
        width: 100%;
        position: relative;
        z-index: auto;
        background-color: inherit;
    }

}