//  alterations to WordPress core 


:where(.wp-site-blocks)>div {
    margin-block-start: 0;
    margin-block-end: 0;
}

:where(.wp-site-blocks)>* {
    margin-block-start: 1rem;
}

:root :where(.is-layout-flow)>* {
    margin-block-start: 0;
}

:root .wp-block-column>* {
    margin-block-start: 1rem;
}

:where(.wp-site-blocks)>*:not(#wp--skip-link--target):not(:has(.footer-section)) {
    margin-block-start: 1.5rem;
}

:root :where(.is-layout-constrained)>.wp-block-media-text {
    margin-block-start: 0;
}

// neutralize the wp default for 600px 
@media (min-width: calc(600rem / 16)) {

    .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: flex;
    }

    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: none;
    }

}


// copy of wp default css to a 1000px media query 
@media (min-width: calc(1000rem / 16)) {

    .wp-block-navigation__responsive-container-open:not(.always-shown) {
        display: none !important;
    }

    .wp-block-navigation__responsive-container:not(.hidden-by-default):not(.is-menu-open) {
        display: block !important;
        width: 100%;
        position: relative;
        z-index: auto;
        background-color: inherit;
    }

}