// breakpoints



// 600px 
$tablet: calc(601rem / 16);

$narrower-than-tablet: calc(600rem / 16);

$thick-admin-bar-h: calc(46rem / 16);
$thick-admin-bar: calc(782rem / 16);

// thin admin bar height is 32px
$thin-admin-bar-h: calc(32rem / 16);
$thin-admin-bar: calc(783rem / 16);


// 768px 
$big-tablet: calc(768rem / 16);
$narrower-than-big-tablet: calc(767rem / 16);


// 782px 
$wordpress-tablet: calc(782rem / 16);
$narrower-than-wordpress-tablet: calc(781rem / 16);


// 990px 
$laptop: calc(1000rem / 16);

@media (min-width: $laptop) {

    .laptop-br {
        display: block;
    }

    .laptop-and-narrower,
    .laptop-hide {
        display: none;
    }

}

// narrower-than-laptop = hamburger nav 
$narrower-than-laptop: calc(999rem / 16);

@media (max-width: $narrower-than-laptop) {

    .tablet-hide {
        display: none;
    }

}



// 1300px
$desktop: calc(1300rem / 16);

$narrower-than-desktop: calc(1299rem / 16);


@media (max-width: $narrower-than-desktop) {

    .laptop-hide {
        display: none;
    }

}



@media (min-width: $desktop) {

    .desktop-hide {
        display: none;
    }

}



// 1500px 
$wide: calc(1500rem / 16);

$narrower-than-wide: calc(1499rem / 16);