// _typography.scss




// fonts
@font-face {
    font-family: 'merriweather-reg';
    src: url('../fonts/merriweather-reg.ttf') format('truetype');
}

@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather.ttf') format('truetype');
}

@font-face {
    font-family: 'merriweather-ital';
    src: url('../fonts/merriweather-ital.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/roboto.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-ital';
    src: url('../fonts/roboto-ital.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../fonts/roboto-bold.ttf') format('truetype');
}

@font-face {
    font-family: 'roboto-bold-ital';
    src: url('../fonts/roboto-bold-ital.ttf') format('truetype');
}


%merriweather-reg {
    font-family: merriweather-reg, serif;
    font-weight: 400;
}


%merriweather {
    font-family: merriweather, serif;
    font-weight: 400;

    strong,
    b {
        font-weight: 800;

        &>em {
            font-family: merriweather-ital, serif;
            font-style: normal;
        }

    }

    em {
        font-family: merriweather-ital, serif;
        font-style: normal;

        &>strong,
        &>b {
            font-family: merriweather-ital, serif;
            font-weight: 800;
            font-style: normal;
        }

    }

}

%roboto {
    font-family: roboto, sans-serif;
    font-weight: 400;

    strong,
    b {
        font-family: roboto-bold, sans-serif;
        font-weight: 400;

        &>em {
            font-family: roboto-bold-ital, sans-serif;
            font-weight: 400;
            font-style: normal;
        }

    }

    em {
        font-family: roboto-ital, sans-serif;
        font-style: normal;

        &>strong,
        &>b {
            font-family: roboto-bold-ital, sans-serif;
            font-weight: 400;
            font-style: normal;
        }

    }

}

html {
    @extend %roboto;
}

h1,
.has-x-large-font-size {
    @extend %merriweather;
    margin-block-start: .2em;
}

#clinic-site-name,
h2,
h3,
h2.has-medium-font-size,
h4,
h5,
h6 {
    @extend %merriweather-reg;
    margin-block-start: .2em;
}



// Extra Large 
%h1 {
    font-size: clamp(1.5rem, 1.5rem + 1.8462vw, 3rem);
    line-height: 1.25em;
}

h1 {
    @extend %h1;
}



// Large 
%h2 {
    font-size: clamp(1.25rem, 1.25rem + 1.3333vw, 2.25rem);
}

// For h2 in hero section apply Extra Large in WordPress back end 
h2:not([class*="-font-size"]) {
    @extend %h2;
}



%h3 {
    font-size: clamp(1.15rem, 1.15rem + 1.3333vw, 1.5rem);
}


h3:not([class*="-font-size"]) {
    @extend %h3;
}


#clinic-site-name {
    font-size: clamp(4vw, 4vw, 1.5rem);
}



h1,
h2,
h3,
h4,
h5,
h6 {
    &:not(.has-text-color) {
        color: $navy;
    }

}


// Medium - Deck 
%deck {
    font-size: clamp(0.875rem, 0.875rem + 0.4615vw, 1.25rem);
    line-height: 1.4em;
}

div.wpforms-container-full button[type=submit],
p.has-medium-font-size,
.wp-element-button:not([class*="-font-size"]) {
    @extend %deck;
}



// Text 
%text {
    font-size: clamp(0.75rem, 0.75rem + 0.3077vw, 1rem);
    line-height: 1.5em;
}

p,
li {
    &:not(.has-text-color) {
        color: $text;
    }
}


p:not([class*="-font-size"]),
li:not([class*="-font-size"]):not(.wp-block-navigation-link) {
    @extend %text;
}