// footer 



.about-this-study {
    max-width: 25rem;
}



$navh: calc(122rem / 16);
$footerh-narrower-than-desktop: calc(416rem / 16); // $thick-admin-bar: calc(782rem / 16);
$footerh-desktop: calc(316rem / 16); // $thin-admin-bar: calc(783rem / 16);



// sticky footer
@media (min-width: $thin-admin-bar) {


    body:not(.logged-in) .wp-site-blocks>.entry-content {
        min-height: calc(100vh - calc(138rem / 16) - calc(390rem / 16));
    }

    body.logged-in .wp-site-blocks>.entry-content {
        min-height: calc(100vh - calc(138rem / 16) - calc(390rem / 16) - calc(32rem / 16));
    }



}






@media (min-width: $tablet) and (max-width: $narrower-than-desktop) {

    .footer-section .wp-block-columns.is-layout-flex {
        flex-wrap: wrap !important;

        &>div:first-of-type {
            flex-basis: 100% !important;
        }
    }

}


@media (min-width: $wordpress-tablet) and (max-width: $narrower-than-desktop) {

    .footer-section .wp-block-columns:not(.is-not-stacked-on-mobile)>div:not(:first-of-type) {
        flex-basis: 50% !important;
    }

}


@media (max-width: $narrower-than-desktop) {

    .wp-block-group.footer-section {
        padding-right: 8%;
        padding-left: 8%;
    }

    .footer-section .wp-block-columns:not(.is-not-stacked-on-mobile)>div:not(:first-of-type) {
        padding-top: 2rem;
    }

}