// global.scss

// skip links
%hidden {
    position: absolute;
    line-height: 0;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, calc(1rem / 16) 0, calc(1rem / 16) calc(1rem / 16), 0 calc(1rem / 16));
    clip-path: polygon(0 0, calc(1rem / 16) 0, calc(1rem / 16) calc(1rem / 16), 0 calc(1rem / 16));
    //top: -9999px; /* leave vertical position intact for smooth scroll to anchors */ 
    left: -99999px;
}

@mixin hidden {
    position: absolute;
    line-height: 0;
    overflow: hidden;
    -webkit-clip-path: polygon(0 0, calc(1rem / 16) 0, calc(1rem / 16) calc(1rem / 16), 0 calc(1rem / 16));
    clip-path: polygon(0 0, calc(1rem / 16) 0, calc(1rem / 16) calc(1rem / 16), 0 calc(1rem / 16));
    //top: -9999px;
    left: -99999px;
}


.hidden,
.skip-link,
.sr-only {
    @extend %hidden;
}


@media (min-width: $laptop) {
    .hide-on-desktop {
        position: absolute;
        line-height: 0;
        overflow: hidden;
        -webkit-clip-path: polygon(0 0, calc(1rem / 16) 0, calc(1rem / 16) calc(1rem / 16), 0 calc(1rem / 16));
        clip-path: polygon(0 0, calc(1rem / 16) 0, calc(1rem / 16) calc(1rem / 16), 0 calc(1rem / 16));
        //top: -9999px; /* leave vertical position intact for smooth scroll to anchors */ 
        left: -99999px;

    }
}



@media (max-width: $narrower-than-laptop) {

    .wp-block-group {

        &>.wp-block-accordion,
        &>.wp-block-heading,
        &>p {
            max-width: 84%;
            margin-right: 8%;
            margin-left: 8%;
        }
    }


}


.img-with-corners {
    max-width: 25rem;
    box-shadow: 0 .5rem 2.2rem rgba(0, 0, 0, .3);
    margin-right: auto;
    margin-left: auto;

    [src] {
        object-fit: cover;
    }
}


// little icons on the contact page 

.email,
.time {
    display: inline-block;
    padding-bottom: .4rem;
    padding-left: 1.4142rem;
    @include has-before;

    &:before {
        width: 1rem;
        height: 100%;
        left: 0;
        top: 0;
        background-position: 0 .2rem;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.email:before {
    background-image: url('../img/email.svg');
}

.time:before {
    background-image: url('../img/clock.svg');
}