// map.scss


// remove WordPress default margin
:root :where(.is-layout-constrained)>.map-container {
    margin-top: 0;
}

// programmatically assign bg color 
.wp-block-group:has(.us-map) {
    background-color: $lightestgray;
}

#map-container {
    overflow: hidden !important;
    user-select: none;
    touch-action: auto !important;
    background-color: white;
}

// override panzoom library on map SVG using the ID for strongest rule
#us-map {
    touch-action: auto !important;
}

// style map SVG usinga more reasonable, civilized class
.us-map {
    max-width: 100%;
    height: auto;
    max-height: 61.8vw;
    display: block;
    margin: 0 auto;

    &:has(.svg-pan-zoom_viewport) {
        //filter: blur(0rem) !important;
    }
}


// style states svg
.state path {
    fill: $lightgray;
}

.borders path {
    stroke: white;
}


// style pins
.map-pin-svg {
    pointer-events: none;
    filter: drop-shadow(-2px 5px 8px rgba(0, 0, 0, .3));
    @include scale(.67);
    @include transition(filter .2s ease-in-out);
}

// massaging the special case of Case Western 
.map-pin-svg:has(#case-western-metrohealth[aria-pressed="true"]),
.map-pin-svg:has(#case-western-metrohealth:hover),
.map-pin-svg:has(#case-western-metrohealth:active),
.map-pin-svg:has(#case-western-metrohealth:focus) {
    z-index: 10;
}

.map-pin:has(#case-western-metrohealth:hover)~.map-pin:has(#case-western-university) .map-pin-svg {
    filter: none;
}

.s2 {
    fill: $lightblue;
}

// map pin hover
.s2.map-pin-path {
    cursor: pointer;
    pointer-events: auto;
    @include transition(fill .2s ease-in-out);

    &[aria-pressed="true"] {
        fill: $golden;
    }

    @include hover {
        fill: $golden;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: calc(5rem/16) auto -webkit-focus-ring-color;
        outline-offset: calc(2rem / 16);
    }
}

.s3 {
    fill: $navy;
    pointer-events: none;
}

html:has(.modal[open]) #modal-backdrop {
    max-width: unset;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}


.modal:not([open]) {
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.modal {
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;

    &:focus {
        outline: none;
    }
}


.modal[open] {
    width: 100%;
    position: absolute;
    z-index: 9000;
}



// scroll modal if needed 
.modal-content {
    overflow-y: auto;
    position: relative;
    padding: 2rem 1.414rem 1.414rem;
    background-color: white;
    border-radius: .5rem;
    filter: drop-shadow(-2px 5px 8px rgba(0, 0, 0, .3));

    &:after {
        display: block;
        width: calc(100% - calc(4rem / 16));
        height: calc(100% - calc(4rem / 16));
        position: absolute;
        top: 0;
        left: 0;

        background-color: transparent;
        border: calc(2rem / 16) solid $navy;
        border-radius: .5rem;
        content: '';
        pointer-events: none;
    }

}


.modal[open] {
    max-width: calc(360rem / 16);
    width: calc(90% - calc(50rem / 16));
    position: absolute;
}


// close button
button.modal-close {
    width: 3rem;
    height: 3rem;

    position: absolute;
    top: 0;
    right: 0;

    background: none;
    border: none;
    cursor: pointer;
    font-size: calc(28rem / 16);
    font-weight: bold;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

button.modal-close:hover,
button.modal-close:active,
button.modal-close:focus {
    color: $teal;
}


// modal content - physician data
$physician-size: 5rem;

.physician-div {
    @include flex;
    @include flex-direction-col;
    @include flex-wrap;
    height: calc(#{$physician-size} + 1rem);
}

.physician-name,
.physician-institution {
    width: calc(100% - #{$physician-size} - 2rem);
}

.physician-src {
    width: $physician-size;
    height: $physician-size;
    border: calc(3rem / 16) solid $lightblue;
    border-radius: 50%;
    object-fit: cover; 
}


#clinic-site-name {
    color: $blue;
}

#clinic-site-city-state {
    margin-top: .3rem;
    color: $text;
}

.physician-name {
    color: $blue;
}