// map.scss


.map-container {
    position: relative;
}

.us-map {
    width: 100%;
    height: auto;
    display: block;
}


.map-pin {
    position: absolute;
}

.map-pin:has(.map-pin-path[aria-pressed="true"]) {
    z-index: 1001;
}



.map-pin-svg {
    width: 2rem;
    height: 2rem;
    pointer-events: none;
    position: absolute;
    top: -2rem;
    left: -1rem;
    filter: drop-shadow(-2px 5px 8px rgba(0, 0, 0, .3));
    @include transition(filter .2s ease-in-out);
}


.map-pin-svg:has(#case-western-metrohealth[aria-pressed="true"]),
.map-pin-svg:has(#case-western-metrohealth:hover),
.map-pin-svg:has(#case-western-metrohealth:active),
.map-pin-svg:has(#case-western-metrohealth:focus) {
    z-index: 10;
}

.map-pin:has(#case-western-metrohealth:hover)~.map-pin:has(#case-western-university) .map-pin-svg {
    filter: none;
}


.s0.map-pin-path {
    pointer-events: auto;
    @include transition(fill .2s ease-in-out);

    &[aria-pressed="true"] {
        fill: $golden;
    }

    @include hover {
        fill: $golden;
    }

    &:focus {
        outline: none;
    }

    &:focus-visible {
        outline: calc(5rem/16) auto -webkit-focus-ring-color;
        outline-offset: calc(-2rem / 16);
    }
}


.s0 {
    fill: $lightblue;
}

.s1 {
    fill: $navy;
    pointer-events: none;
}


// body scroll lock when modal is open 
html:has(.modal[style*="block"]) {
    overflow-y: hidden;
}

// scrollbar gutter keeps space 
html {
    scrollbar-gutter: stable;
}



// modal bg
.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: transparent;
}


@keyframes modal-bg-on {
    0% {
        background-color: transparent;
        //transform: translate(0, -10rem);
    }

    100% {
        background-color: rgba(0, 0, 0, 0.5);
        //transform: translate(0, 0);
    }
}

.modal[style*="block"] {
    animation-name: modal-bg-on;
    animation-duration: .24s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;


    &:focus-visible {
        outline: none;

        .modal-content {
            outline: calc(5rem/16) auto -webkit-focus-ring-color;
            outline-offset: calc(-2rem / 16);
        }
    }
}





// scroll modal if needed 
.modal[role="dialog"] {
    overflow-y: auto;
}

.modal-content {

    position: relative;
    padding: 1rem 1.414rem;
    background-color: white;
    border-radius: .5rem;
    filter: drop-shadow(-2px 5px 8px rgba(0, 0, 0, .3));

    &:after {
        width: calc(100% - calc(4rem / 16));
        height: calc(100% - calc(4rem / 16));
        position: absolute;
        background-color: transparent;
        border: calc(2rem / 16) solid $navy;
        content: '';
        display: block;
        border-radius: .5rem;
        top: 0;
        left: 0;
        pointer-events: none;
    }
}


@media (min-width: $tablet) {

    .modal-content {
        max-width: calc(360rem / 16);
    }

}


@media (max-width: $narrower-than-tablet) {
    #modal-nubbin {
        display: none;
    }

    .modal-content {

        right: 5% !important;
        position: fixed;
        width: 80%;
        max-width: 80%;
    }

}


/* 
@media (max-width: $narrower-than-tablet) {
    .modal-content {
        width: calc(90% - calc(50rem / 16));
        margin: 6rem auto 0;
    }
}
*/

#modal-nubbin {
    width: 1rem;
    height: 1rem;
    position: absolute;

    background-color: white;
    @include rotate(45deg);

    &.points-up {
        border-top: calc(2rem / 16) solid $navy;
        border-right: none;
        border-bottom: none;
        border-left: calc(2rem / 16) solid $navy;
    }

    &.points-down {
        border-top: none;
        border-right: calc(2rem / 16) solid $navy;
        border-bottom: calc(2rem / 16) solid $navy;
        border-left: none;
    }

    z-index: 1000;

}


// landscape phone - approximate height of form is 700px
/* 
@media (min-width: $tablet) and (max-height: calc(699rem / 16)) {
    .modal-content {
        width: 80%;
        margin: 4rem auto 0;
    }
}
*/





// close
button[class*="close-"] {
    width: 3rem;
    height: 3rem;

    position: absolute;
    right: -.3rem;
    top: -.3rem;

    background: none;
    border: none;
    cursor: pointer;
    font-size: calc(28rem / 16);
    font-weight: bold;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

button[class*="close-"]:hover,
button[class*="close-"]:active,
button[class*="close-"]:focus {
    color: $teal;
}


// modal
$physician-size: 5rem;

.physician-div {
    @include flex;
    @include flex-direction-col;
    @include flex-wrap;
    height: calc(#{$physician-size} + 1rem);
}

.physician-name,
.physician-institution {
    width: calc(100% - #{$physician-size} - 2rem);
}

.physician-src {
    width: $physician-size;
    height: $physician-size;
    border: calc(3rem / 16) solid $lightblue;
    border-radius: 50%;
}


#clinic-site-name {
    color: $blue;
}

#clinic-site-city-state {
    margin-top: .3rem;
    color: $text;
}

.physician-name {
    color: $blue;
}