// nav.scss


$navh: calc(122rem / 16);

:where(.wp-site-blocks)>header {

    .wp-block-image {
        min-height: $navh;
        @include flex;
        @include align-items-center;
    }

}


.wp-block-navigation>.wp-block-navigation-item.mobile-nav-only:is(:not(.mobile-nav-only ~ .mobile-nav-only)):before {
    @extend %small;
}


@media (max-width: $thick-admin-bar) {

    html.admin-bar main {
        padding-top: calc(#{$navh} + #{#thick-admin-bar});
    }

}


@media (min-width: $thin-admin-bar) and (max-width: $narrower-than-laptop) {

    html.admin-bar main {
        padding-top: calc(#{$navh} + #{#thin-admin-bar});
    }

}


@media (max-width: $narrower-than-laptop) {

    header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: white;
        z-index: 9999;
    }

    html:not(.admin-bar) main {
        padding-top: $navh;
    }

    // the x button - the close x button
    .wp-block-navigation__responsive-container-close {
        width: 3rem;
        height: 3rem;
        top: 2.4rem;
        right: 2rem;
        @include flex;
        @include justify-content-center;
        @include align-items-center;
        background-color: white;
    }

    .wp-block-navigation:not(.has-background) .wp-block-navigation__responsive-container.is-menu-open {
        background-color: transparent !important;
    }

    // fighting Wordpress - <div>
    .wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content {
        padding: 0;
        @include translate(0, calc(#{$navh}));
        background-color: white;
    }

    // fighting Wordpress - <ul> 
    .wp-block-navigation__responsive-container.is-menu-open div.wp-block-navigation__responsive-container-content ul.wp-block-navigation {
        width: 100%;
        gap: 0;

        &>li:first-of-type>.wp-block-navigation-item__content {
            border-top: calc(1rem / 16) solid $lightgray;
        }
    }

    // fighting Wordpress - <li> 
    .wp-block-navigation .wp-block-navigation-item:not(.mobile-nav-only) {
        width: 100%;
    }

    // fighting WordPress - [href]
    .wp-block-navigation>.wp-block-navigation-item:not(.mobile-nav-only)>.wp-block-navigation-item__content {
        width: 100%;
        height: 4rem;
        @include flex;
        @include align-items-center;
        margin: 0;
        border-bottom: calc(1rem / 16) solid $lightgray;

        &[href] {
            background-color: transparent;
            @include transition(background-color .2s ease-in-out, color .2s ease-in-out);

            &:hover,
            &:active {
                background-color: $lightgray;
                color: $teal;
            }
        }
    }

    // using text-indent instead of padding to position nav text
    .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .wp-block-navigation-item:not(.mobile-nav-only)>.wp-block-navigation-item__content {
        width: 100%;
        text-indent: 2rem;
        padding: 0;
    }


    // mobile-nav-only background 
    .wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation-item.mobile-nav-only {
        width: 100%;
        font-family: 'roboto-bold', sans-serif;
        background-color: $lightestgray !important;
    }

    // .mobile-nav-only styling 
    .wp-block-navigation>.wp-block-navigation-item.mobile-nav-only {
        width: calc(100% - 4rem);
        padding-top: .5rem;
        padding-bottom: .5rem;
        background-color: $lightgray;
        text-align: center;

        &>.wp-block-navigation-item__content {
            width: calc(100% - 4rem);
            margin-left: 2rem;
            padding-top: 1rem;
            padding-bottom: 1rem;

            &[href] {
                border-radius: .5rem;
                @include transition (background-color .2s ease-in-out,
                    color .2s ease-in-out);

            }

            &[href*="contact"] {
                background-color: $golden;
                color: $darkgray;

                @include hover {
                    background-color: $golden-hover;
                }

            }


            &[href*="location"] {
                background-color: white;
                border: calc(2rem / 16) solid $navy;
                color: $navy;

                @include hover {
                    background-color: $lightaqua;
                }

            }

        }

    }

    // first mobile-nav-only link - "Ready to participate?" text 
    .wp-block-navigation>.wp-block-navigation-item.mobile-nav-only:is(:not(.mobile-nav-only ~ .mobile-nav-only)) {
        margin-top: 10vh;

        @include has-before;

        &:before {
            position: relative;
            margin-top: 1rem;
            left: 2rem;
            padding-top: 0;
            padding-bottom: 1rem;
            color: $text;
            content: 'Ready to participate?';
            font-family: 'roboto', sans-serif;
        }
    }

    .wp-block-navigation>.wp-block-navigation-item.mobile-nav-only:last-of-type {
        padding-bottom: 2rem;
    }

    // little shadow at the bottom of the mobile nav
    .wp-block-navigation__responsive-container-content {
        @include has-after;

        &:after {
            width: 100%;
            height: calc(1rem / 16);
            bottom: 0;
            left: 0;
            background-color: $darkgray;
            filter: blur(calc(3rem / 16));
            z-index: -1;
        }
    }
}






@media (min-width: $laptop) {

    .wp-block-navigation>.wp-block-navigation-item.mobile-nav-only {
        display: none;
    }

    .wp-block-navigation>.wp-block-navigation-item {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: .67rem;

        &:has(+.wp-block-navigation-item) {
            padding-right: .67rem;

        }
    }



    [href].wp-block-navigation-item__content {
        @include has-after;
        padding: 1rem .5rem;
        @include transition(color .2s ease-in-out);

        &:after {
            width: calc(100% - 1rem);
            height: calc(2rem / 16);
            bottom: .5rem;
            left: .5rem;
            background-color: transparent;
            background-image: linear-gradient(to bottom, $navy 0, $navy 100%);
            background-repeat: no-repeat;
            background-size: 0 100%;
            background-position: 50% 100%;
            @include transition(background-size .2s ease-in-out);
        }

        &:not([aria-current="page"]) {

            @include hover {
                color: $navy;

                &:after {
                    background-image: linear-gradient(to bottom, $navy 0, $navy 100%);
                    background-size: 100% 100%;
                }

            }

        }

    }


    // fighting wordpress 
    .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content[aria-current="page"] {
        color: $teal;
        background-size: 100% 100%;
    }

    [href].wp-block-navigation-item__content[aria-current="page"]:after {
        background-color: $teal;
    }

}




@media (max-width: $narrower-than-desktop) {

    .wp-block-group:is(header > .wp-block-group) {
        padding-left: 1rem;
        padding-right: 2.5rem;
    }

}