// nav.scss

@media (min-width: $laptop) {

    [href].wp-block-navigation-item__content {
        @include has-after;
        padding: 1rem .5rem;
        @include transition(color .2s ease-in-out);

        &:after {
            width: calc(100% - 1rem);
            height: calc(2rem / 16);
            bottom: .5rem;
            left: .5rem;
            background-color: transparent;
            background-image: linear-gradient(to bottom, $navy 0, $navy 100%);
            background-repeat: no-repeat;
            background-size: 0 100%;
            background-position: 50% 100%;
            @include transition(background-size .2s ease-in-out);
        }

        &:not([aria-current="page"]) {



            @include hover {
                color: $navy;

                &:after {
                    background-image: linear-gradient(to bottom, $navy 0, $navy 100%);
                    background-size: 100% 100%;
                }

            }

        }

    }


    // fighting wordpress 
    .wp-block-navigation .wp-block-navigation-item__content.wp-block-navigation-item__content[aria-current="page"] {
        color: $teal;
        background-size: 100% 100%;
    }

    [href].wp-block-navigation-item__content[aria-current="page"]:after {
        background-color: $teal;
    }

}