// wp-block-columns.scss



.wp-block-column.has-background {
    @extend %cool-border;
}



@media (max-width: $narrower-than-big-tablet) {

    .wp-block-columns:has(.wp-block-column.has-background) .wp-block-column+.wp-block-column {
        margin-top: 2rem;
    }


}



@media (min-width: $laptop) and (max-width: $narrower-than-desktop) {

    %wp-block-columns-stack-on-laptop-and-narrower {
        &>div:first-of-type:is(.wp-block-column) {
            padding-left: 8%; 
        }

        &>div:last-of-type:is(.wp-block-column) {
            padding-right: 8%; 
        }

    }

}


@media (max-width: $narrower-than-desktop) {

    %wp-block-columns-stack-on-laptop-and-narrower {
        &:not(.is-not-stacked-on-mobile) {
            flex-wrap: wrap !important;
            gap: unset;

            &>.wp-block-column[style*=flex-basis] {
                flex-basis: 100% !important;
                flex-grow: 1 !important;    
                padding-right: 8%;
                padding-left: 8%; 
            }

        }

    }

}


body.page-id-15 .entry-content>.wp-block-group>.wp-block-columns {
    @extend %wp-block-columns-stack-on-laptop-and-narrower;

}