// wp-block-media-text.scss



.wp-block-media-text__media [src] {
    box-shadow: 0 .5rem 2.2rem rgba(0, 0, 0, .3);
}



@media (min-width: $tablet) {

    .wp-block-media-text__media [src] {
        border-radius: .25rem;
    }

}



@media(min-width: $tablet) {

    .wp-block-media-text__media,
    .wp-block-media-text__media>[src] {
        height: 100%;
    }

    .wp-block-media-text__media>[src] {
        object-fit: cover;
    }

}



@media (min-width: $tablet) {

    .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
        padding-right: 3rem;
    }

    .wp-block-media-text.has-media-on-the-left .wp-block-media-text__content {
        padding-left: 3rem;
    }
}

@media (min-width: $tablet) and (max-width: $narrower-than-desktop) {

    .wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
        padding-left: 3rem;
    }

    .wp-block-media-text.has-media-on-the-left .wp-block-media-text__content {
        padding-right: 3rem;
    }

}