// wp-block-group.scss




@media (max-width: $narrower-than-desktop) {

    .entry-content>.wp-block-group {

        &>.wp-block-group,
        &>.wp-block-accordion,
        &>.wp-block-heading,
        &>p,
        &>.wp-block-list {
            max-width: 84%;
            margin-right: 8%;
            margin-left: 8%;
        }

    }

}