// wp-block-group.scss



@media (max-width: $narrower-than-laptop) {

    .wp-block-group:not(main):not(footer .wp-block-group):not(header .wp-block-group):not(.wp-block-group:has(.wp-block-media-text)):not(.wp-block-group .wp-block-group):not(.wp-block-group:has(.map-container))>* {
        padding-left: 8%;
        padding-right: 8%;
        overflow: hidden;
    }


}




@media (max-width: $narrower-than-laptop) {

    // to have "full bleed" media in the wp-block-media-text block
    // undid left-right-padding on .wp-block-group:has(.wp-block-text-media)
    // ... thus re-adding left-right-padding to the sibling blocks to
    // .wp-block-text-media 
    .entry-content>.wp-block-group>[class*="wp-block-"]:not(.wp-block-media-text) {
        padding-right: 8%;
        padding-left: 8%;
    }


}