// wp-block-button.scss



.wp-block-button__link[href] {
    @include transition(background-color .2s ease-in-out);

    @include hover {
        cursor: pointer;
    }

    // yellow
    &.has-accent-6-background-color {
        @include hover {
            background-color: $golden-hover !important;
        }
    }

    // white
    &.has-base-background-color {
        @include hover {
            background-color: #ddd !important;
        }
    }

}



.wp-block-buttons {
    padding-top: 1rem;
}




// buttons that AREN'T in Text/Media block and have the $tablet breakpoint
@media (max-width: $narrower-than-tablet) {

    .wp-block-buttons:not(.wp-block-media-text__content > .wp-block-buttons)>.wp-block-button {
        width: 100%;
        max-width: 17rem;
    }

    .wp-block-buttons:not(.wp-block-media-text__content > .wp-block-buttons)>.wp-block-button+.wp-block-button {
        margin-top: 1rem;
    }

}

@media (min-width: $tablet) {

    .wp-block-buttons:not(.wp-block-media-text__content > .wp-block-buttons)>.wp-block-button+.wp-block-button {
        margin-left: 1rem;
    }

}



// buttons that ARE in Text/Media block and have an wider breakpoint 
@media (max-width: $narrower-than-laptop) {

    .wp-block-buttons:is(.wp-block-media-text__content > .wp-block-buttons)>.wp-block-button {
        width: 100%;
        max-width: 17rem;
    }

    .wp-block-buttons:is(.wp-block-media-text__content > .wp-block-buttons) {
        @include justify-content-center;
    }

    .wp-block-buttons:is(.wp-block-media-text__content > .wp-block-buttons)>.wp-block-button+.wp-block-button {
        margin-top: 1rem;
    }

}


@media (min-width: $laptop) {

    .wp-block-buttons:is(.wp-block-media-text__content > .wp-block-buttons)>.wp-block-button+.wp-block-button {
        margin-left: 1rem;
    }

}




:where(.wp-block-button__link)[href] {
    border-radius: .5rem;
}

:root :where(.wp-element-button, .wp-block-button__link) {
    padding: .8rem 2rem;
}