// wp-forms.scss


.wpforms-container input.wpforms-field-medium,
.wpforms-container select.wpforms-field-medium,
.wpforms-container .wpforms-field-row.wpforms-field-medium,
.wp-core-ui div.wpforms-container input.wpforms-field-medium,
.wp-core-ui div.wpforms-container select.wpforms-field-medium,
.wp-core-ui div.wpforms-container .wpforms-field-row.wpforms-field-medium {
    max-width: unset;
}


div.wpforms-container-full button[type=submit]:not(:hover):not(:active) {
    background-color: $golden;
    border-radius: .5rem;
    color: $darkgray;
    font-weight: 400;
    padding: .8rem 2rem;
}


div.wpforms-container-full button[type=submit] {
    width: 100%;
    max-height: unset;
    height: unset;
    text-transform: uppercase;

    @include hover {
        background-color: $golden-hover;
        border-radius: .5rem;
        color: $darkgray;
        font-weight: 400;
        padding: .8rem 2rem;
    }
}

div.wpforms-container-full legend,
div.wpforms-container-full label {
    &.wpforms-field-label {
        margin-bottom: .5em;
    }
}

[class*="wpforms-"] input[type="checkbox"]+label.wpforms-field-label-inline {
    font-family: roboto-bold, sans-serif;
    @include has-after;

    &:after {
        color: var(--wpforms-label-error-color);
        content: '*';
        display: inline-block;
        padding-left: .2em;
    }
}

.wpforms-field-checkbox.wpforms-has-error .wpforms-field-required {
    outline: calc(1rem/16) solid var(--wpforms-label-error-color);
    outline-offset: calc(10rem / 16);
}