// wp-forms.scss


.wpforms-container input.wpforms-field-medium,
.wpforms-container select.wpforms-field-medium,
.wpforms-container .wpforms-field-row.wpforms-field-medium,
.wp-core-ui div.wpforms-container input.wpforms-field-medium,
.wp-core-ui div.wpforms-container select.wpforms-field-medium,
.wp-core-ui div.wpforms-container .wpforms-field-row.wpforms-field-medium {
    max-width: unset;
}


div.wpforms-container-full button[type=submit]:not(:hover):not(:active) {
    background-color: $golden;
    border-radius: .5rem;
    color: $darkgray;
    font-weight: 400;
    padding: .8rem 2rem;
}


div.wpforms-container-full button[type=submit] {
    width: 100%;
    max-height: unset;
    height: unset;
    text-transform: uppercase;

    @include hover {
        background-color: $golden-hover;
        border-radius: .5rem;
        color: $darkgray;
        font-weight: 400;
        padding: .8rem 2rem;
    }
}